* {
    padding:0px;
    margin:0px;
}

span.active-character::before {
    font-size: 1em;
    position: fixed;
    content: "_";
    float:left;
    opacity: 0;
    border-radius: 5px;
    animation: blink 1s ease-in-out infinite;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: blink;
    color:#00f1ff;
}

@keyframes blink {
    50% {
        opacity: 1;
    }
}

span.completed-words {
    color: rgb(12, 216, 12);
}

span.correct-keys {
    color: rgb(8, 184, 8);
}

span.incorrect-keys {
    color: #803333;
    background-color: #f0a3a3;
}

span.keys-left {
    color:white;
}

span.text-prompt {
    color:white;
}

h2{
    padding:0px;
    margin:0px;
}

body {
    width:100%;
    background-color: #0D0630;
    color: #fff;
    margin: auto;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #08041c;
    border-bottom: 2px solid #283e58;
    margin-bottom: 25px;
}

footer{
    color:#146584;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}

ul li{
    display: inline-flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: 800;
    padding:0px 15px 0px 0px;
}

ul li:last-child{
    padding:0px;
}

.countdown-msg{
    background: #375f6f;
    margin:0px 25px 25px 25px;
    padding: 15px;
    border-radius: 15px;
}

.racer-buttons{
    width: 100%;
    background: #b4eaff;
    padding: 25px;
    margin-top: 15px;
}

button#mainMenu-btn{
    background-color: #ee2f2f;
    border: 2px solid #790c0c;
}

button{
    background: #333131;
    padding: 15px;
    border-radius: 5px;
    border: 2px solid #000;
    color: #fff;
    font-weight: 800;
    cursor: pointer;
}

#logo {
    padding:20px;
}

.container {
    display: flex;
    flex-direction: column;
}

.mainViewPort{
    width: 960px;
    border-radius: 15px;
    align-self: center;
    background: #7bd2f3;
    box-sizing: border-box;
    padding: 25px;
}

#game-word {
    color:green;
}

section#game-area {
    background-color: #18314F;
    padding:25px;
}

#type-racer-box {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
}

#game-text {
    min-height: 150px;
    align-content: center;
    font-size:1.5em;
    padding:25px;
    border-radius: 10px;
    background-color: #0B1724;
}

input[type="text"] {
    margin-top:15px;
    padding: 15px;
    font-size: 1.5em;
    width: 96%;
}

footer {
    text-align:center;
    padding-top:25px;
}

.mobile-button{
    cursor: pointer;
    display: none;
}

.hide-mobile{

}

a:link{color:#00b8ff;text-decoration: none;}
a:visited{color:#00b8ff;}
a:hover{color:#6fd7ff;}
a:active{color:#00b8ff;}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .mainViewPort{
        width: 100%;
        padding: 0px;
        border-radius: 0;
    }
    #logo{
        padding:5px;
    }
    .mobile-button{
        display: block;
    }
    .hide-mobile{
        display: none;
        position: absolute;
        background: #041b33;
        right: 5px;
        padding: 15px;
        box-shadow: 5px 0px #7bd2f3;
        border-left: 2px solid #016e97;
        border-right: 2px solid #016e97;
        flex-flow: column;
    }
    input[type="text"] {
        padding: 15px;
        box-sizing: border-box;
    }
    .racer-buttons{
        box-sizing: border-box;
    }
    .countdown-msg{
        margin: 25px;
    }
  }