*{
  box-sizing: border-box;
}

main{
  display: flex;
  width:960px;
  flex-flow:column wrap;
  justify-content: center;
  margin: auto;
}

section#game-modes{
  display: inline-flex;
  justify-content: center;
  margin: 25px 0px;
}

.small-block{
  font-family: Arial, Helvetica, sans-serif;
  margin:5px;
  border-radius: 1rem;
  border:2px solid black;
  padding:25px;
  text-align: center;
  cursor: pointer;
}

section#updates{
  background-color: #0b57d0;
  padding: 25px;
}

article{
  background-color: #0a4097;
  border-bottom: 2px solid rgb(3, 34, 82);
  margin-bottom: 5px;;
  padding: 25px;
}

footer.article-footer{
  text-align: right;
  color:#fff;
  font-size:1em;
  padding: 0;
}

h1.title-header{
  font-size:1.5em;
  text-shadow: 0px 0px 5px #000;
  padding: 25px;
  text-align: center;
  width: 100%;
  background-color: #2076ff;
  font-family: Arial, Helvetica, sans-serif;
}

h2{
  font-size:1em;
}

.welcome-block{
  display: flex;
  flex-direction: row;
  border-radius: 15px;
  background-color: #331bac;
  border:2px solid #000;
}

.color-block{
  cursor: pointer;
  width: 32px;
  margin: 10px;
  height: 32px;
  border: 1px dashed #1d1062;
  margin-right: 5px;
}

.shark-color-previews{
  display: inline-flex;
}

.shark-preview-area{
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.welcome-buttons{
  width: 325px;
  flex-flow: column wrap;
  display: flex;
  justify-content: center;
  padding: 25px;
}

button#play{
  width: 100%;
  background-color:green;
}

button#create{
  width: 100%;
  background-color:rebeccapurple;
}